<header>
    <span>Node <em>&</em> Express</span>
    <nav>
        <a href="/">Main Page</a>
        <a href="/about">About us</a>
        <a href="/user/dImAs">User page</a>
    </nav>
    <form>
        <input type="text" placeholder="Username">
        <button>Search</button>
    </form>
</header>