<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express JS</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <span>Node <em>&</em> Express</span>
        <nav>
            <a href="/">Main Page</a>
            <a href="/about">About us</a>
        </nav>
        <form>
            <input type="text" placeholder="Username">
            <button>Search</button>
        </form>
    </header>
    <main>
        <h1>About us page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quos assumenda, eligendi doloribus possimus ut iure expedita illo veritatis temporibus odit, molestias magnam labore placeat fuga error earum quia nemo? Quo voluptates non ab assumenda voluptatibus magni a iusto quibusdam cupiditate. Similique, asperiores, ipsam odio nam, a saepe unde minus ipsa error quos impedit! Odio cum ut labore alias sint, natus perferendis nemo quae magni corporis ad dolorem autem aut repudiandae possimus corrupti dolor. Necessitatibus, soluta accusamus tempore, eius maiores facilis, quam incidunt quos suscipit quia nulla? Aliquam voluptatibus eius rerum accusantium commodi alias, beatae sit dicta quam est ducimus nemo, laboriosam illo voluptatum nostrum cumque nam veritatis assumenda, error facere minus corporis! Maxime veritatis beatae ad, quod magni tenetur consectetur exercitationem voluptatem sed unde. Fuga debitis accusantium omnis tempora provident officiis labore commodi pariatur repellendus fugit similique recusandae libero vitae soluta voluptatem perspiciatis sequi harum nostrum tempore, cumque sed perferendis. Sed libero error voluptates accusamus repellat hic consectetur expedita, quia blanditiis ea provident, voluptatibus repudiandae corrupti placeat eligendi perferendis, nam maiores ratione debitis aspernatur saepe ipsam earum alias rerum. Eligendi quidem et cumque tenetur, magni velit rem vero reiciendis ab fugiat dolorum iste molestias maxime repellat sapiente molestiae perferendis.</p>
    </main>
</body>

</html>