<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express JS</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <span>Node <em>&</em> Express</span>
        <nav>
            <a href="/">Main Page</a>
            <a href="/about">About us</a>
        </nav>
        <form>
            <input type="text" placeholder="Username">
            <button>Search</button>
        </form>
    </header>
    <main>
        <h1>About us page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam corporis et ipsam temporibus ad qui.</p>
    </main>
</body>

</html>