<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express JS</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('blocks/header') -%>
        <main>
            <h1>The page of username: <%= username %>
            </h1>
            <% if (username.toLowerCase()=='dimas' ) {%>
                <ul>
                    <% hobbies.forEach((el)=> { %>
                        <li>
                            <%= el %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
        </main>
</body>

</html>