<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            color: #fff;
            background: #333;
            text-align: center;
            padding-top: 100px;
        }

        a {
            color: rgb(246, 46, 46);
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Error</h1>
    <p>You've tried to reach an unexisting page. <a href="/">Go to main page</a></p>
</body>
</html>